rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and update their own profile data.
    // They can create their own document, but cannot delete it.
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }

    // Contact messages can be created by anyone, but only read by authenticated users for now.
    // In a real application, you would restrict read access to administrators.
    match /contactMessages/{contactMessageId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }
  }
}
